<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>intellHire | One Stop Solution For Hiring & Getting Hired!</title>
      <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    /><link rel="stylesheet" href="/static/css/index.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="main-container">
  <h2>Are you a Recruiter or an Applicant ?</h2>
  <div class="radio-buttons">
    <label class="custom-radio">
      <input type="radio" name="radio" checked>
      <span class="radio-btn"><i class="las la-check"></i>
        <div class="hobbies-icon">
          <img src="https://img.freepik.com/free-vector/sport-equipment-concept_1284-13034.jpg?size=626&ext=jpg">
          <h3 class="">Recruiter</h3>
        </div>
      </span>
    </label>
    <label class="custom-radio">
      <input type="radio" name="radio" >
      <span class="radio-btn"><i class="las la-check"></i>
        <div class="hobbies-icon">
                       <img src="https://img.freepik.com/free-vector/hand-drawn-flat-design-poetry-illustration_23-2149279810.jpg?size=626&ext=jpg">
          <h3 class="">Applicant</h3>
        </div>
      </span>
    </label>  
  </div>
  
</div>
<!-- partial -->
  
</body>
</html>
