<!DOCTYPE html>
<html>
<head>
  <title>Meet UI</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
	
  </style>
  <link rel="stylesheet" href="/static/css/interview.css">
</head>
<body>
  <div id="gif-box"></div>
  <p id="hiddenQues" style="display: none;">{{first_question}}</p>
  <button id="start_interview">Start Interview</button>
  <button id="speak-button" style="display: none;">Speak</button>

  <script src="/static/js/interview.js"></script>
  <script>playFirstQuestion("{{first_audio}}", "{{total_questions_to_ask}}")</script>
</body>
</html>
