<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>intelliHIRE | Quiz Page</title>
    <link rel="stylesheet" href="/static/css/quiz.css" />
  </head>
  <body>
    <div class="wrapper" id="quiz">
      <div class="quiz">
        <div class="quiz_header">
          <div class="quiz_user">
            <h4>Welcome! {{user.first_name|upper}}</h4>
          </div>
          <div class="quiz_timer">
            <span class="time">00:00</span>
          </div>
        </div>
        <div class="quiz_body">
          <div id="questions">
          </div>

          <button class="btn-next" onclick="next()">Next Question</button>
        </div>
      </div>
    </div>

    <!-- site.js -->
    <script src="/static/js/quiz_site.js"></script>

      <!-- user info -->
      <script src="/static/js/quiz_userInfo.js"></script>

     <!-- timer -->
     <script src="/static/js/quiz_timer.js"></script>
  </body>
</html>
