<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>intelliHIRE | Start Quiz </title>
    
    <!-- style.css -->
    <link rel="stylesheet" href="/static/css/quiz.css">
</head>
<body>
    <div class="wrapper">
        <div class="welcome_text">
            <form class="welcome_form" name="welcome_form" onsubmit="submitForm(event)">
                <h2 class="greet">Hi {{user.first_name}}! click on "Start Quiz" button</h2><br>
                <button>Start Quiz</button>
            </form>
        </div>
    </div>

    <!-- site.js -->
    <script src="/static/js/quiz_start.js"></script>
</body>
</html>